.movie-card {
  background: #1f2833;
  padding: 15px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s, box-shadow 0.3s;
  cursor: pointer;
  text-align: center;
}

.movie-card:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 14px rgba(0, 0, 0, 0.5);
}

.movie-card img {
  width: 100%;
  height: 270px;
  object-fit: cover;
  border-radius: 10px;
}

.movie-card h3 {
  color: #66fcf1;
  margin: 10px 0 5px;
}

.movie-card p {
  color: #c5c6c7;
}
