:root {
  font-family: 'Poppins', system-ui, Avenir, Helvetica, Arial, sans-serif;
}

* {
  box-sizing: border-box;
}

html, body, #root {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  background-color: #0b0c10;
  color: #66fcf1;
  overflow-x: hidden;
}
